{{ define "main" }}
<main>
	<!-- About banner area -->
	<div class="rn-about-banner-area rn-section-gapTop">
		<div class="container mb--30">
			<div class="row">
				<div class="col-12">
					<h1
						class="title about-title-l"
						data-sal="slide-up"
						data-sal-duration="800"
						data-sal-delay="450"
					>
						What We Do
					</h1>
					<p
						class="description-d about-des-l"
						data-sal="slide-up"
						data-sal-duration="800"
						data-sal-delay="450"
					>
						We play to our strengths: ideating, creating and
						shipping amazing things
					</p>
				</div>
			</div>
		</div>
		<div class="container-fluid about-fluidimg">
			<div class="row">
				<div class="img-wrapper">
					<div class="bg_image--22 bg_image"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- About banner area End -->

	<!-- start service cards  -->
	<section
		class="rn-service-card rn-section-gapTop2"
		data-sal="slide-up"
		data-sal-duration="800"
		data-sal-delay="450"
	>
		<div class="container-fluid d-flex justify-content-center flex-wrap">
			<div class="service-cards">
				<div class="sv-card-1"></div>
				<!-- <img
						src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Service/Branding_Active.png"
						alt=""
						class="sv-card-1"
					/> -->
				<div class="sv-card-details">
					<h3>Branding</h3>
					<ul>
						<li>Brand Name Creation</li>
						<li>Tag Line</li>
						<li>Brand Story</li>
						<li>Positioning</li>
						<li>Mission</li>
						<li>Values</li>
						<li>Voice</li>
						<li>Marketplace Research</li>
						<li>Competition Research</li>
						<li>Social Media Handle Consistency</li>
						<li>URL Consistency</li>
					</ul>
				</div>
			</div>
			<div class="service-cards">
				<div class="sv-card-2"></div>
				<div class="sv-card-details">
					<h3>Branding</h3>
					<ul>
						<li>Logo Design</li>
						<li>Brand Identity</li>
						<li>Web Design</li>
						<li>Stationary Collateral Design</li>
						<li>Marketing Colatteral Design</li>
						<li>Sales Collateral Design</li>
						<li>Environmental Design</li>
						<li>Merch Design</li>
					</ul>
				</div>
			</div>
			<div class="service-cards">
				<div class="sv-card-3"></div>
				<div class="sv-card-details">
					<h3>Branding</h3>
					<ul>
						<li>App Design</li>
						<li>API</li>
						<li>Cloud Platform</li>
						<li>Content Management System</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- end service cards  -->

	{{ with .Params.carousel }}
	<!-- Start Service Vertical Carousel  -->
	<section
		class="swiper swiper-service mySwiper3 rn-section-gapTop container"
		data-sal="slide-up"
		data-sal-duration="800"
		data-sal-delay="250"
	>
		<div class="swiper-service service-areas">
			<h3>Our Approach</h3>
		</div>
		<div class="swiper-wrapper swiper-service">
			{{ range . }}
			<div class="swiper-slide swiper-service">
				<h3>{{ .number }}</h3>
				<h3>{{ .title }}</h3>
				<p>{{ .content }}</p>
			</div>
			{{ end }}
		</div>
		<div class="swiper-pagination swiper-service"></div>
	</section>
	<!-- End Service Vertical Carousel  -->
	{{ end }} {{ with .Params.logo }}
	<!-- start category area -->
	<div class="category-area pt--70 mb--150 mb_sm--0 mb_md--100">
		<div class="container">
			<div class="row">
				<div class="col-12 mb--50">
					<h3
						class="title text-start"
						data-sal-delay="150"
						data-sal="slide-up"
						data-sal-duration="800"
					>
						Featured Clients
					</h3>
				</div>
			</div>
			<div class="row g-5 justify-content-center align-items-center">
				{{ range . }}
				<!-- start single category -->
				<div
					class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6"
					data-sal-delay="200"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					<div class="clients-logo">
						<img src="{{ .image }}" alt="" />
					</div>
				</div>
				<!-- end single category -->
				{{ end }}
			</div>
		</div>
	</div>
	<!-- end category area -->
	{{ end }}
</main>
{{ end }}
