{{ define "main" }}
<main>
	<!-- Portfolio details banner area -->
	<div class="rn-about-banner-area rn-section-gapTop">
		<div class="container mb--30">
			<div class="row">
				<div class="col-12">
					<h1
						class="title about-title-l"
						data-sal="slide-up"
						data-sal-duration="800"
						data-sal-delay="150"
					>
						What We Do
					</h1>
					<p
						class="description-d about-des-l"
						data-sal="slide-up"
						data-sal-duration="800"
						data-sal-delay="150"
					>
						We play to our strengths: ideating, creating and
						shipping amazing things
					</p>
				</div>
			</div>
		</div>
		<div class="container-fluid about-fluidimg">
			<div class="row">
				<div class="img-wrapper">
					<div class="bg_image--22 bg_image"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio details banner area End -->

	<!-- Portfolio details content start -->
	<div class="container rn-section-gapTop2">
		<div class="row">
			<div class="col-lg-6 pr--100">
				<h3>Overview</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Assumenda minus quae accusamus asperiores eius ullam
					perspiciatis doloremque quas repellendus maxime accusantium
					quos, veniam provident autem dicta cupiditate possimus nobis
					adipisci quibusdam! Sequi quidem suscipit illo qui
					distinctio ducimus modi temporibus!
				</p>
				<h4>"Client Testimony"</h4>
				<h4>- Neel Desai</h4>
			</div>
			<div class="col-lg-6 pl--100">
				<h3>Services</h3>
				<h6>01. Research</h6>
				<h6>02. Architecture</h6>
				<h6>03. Design</h6>
				<h6>04. Front-End</h6>
				<h6>05. Back-End & EMS</h6>
				<h6>06. Testing</h6>
				<h6>07. Go Live</h6>
				<h6>08. Maintainance</h6>
			</div>
		</div>
	</div>

	<div class="container rn-section-gapTop2">
		<div class="purple-box"></div>
	</div>

	<div class="container rn-section-gapTop2">
		<div class="row">
			<div class="col-lg-6">
				<h4>What's the problem?</h4>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit.
					Consectetur laudantium aut dolore temporibus esse, suscipit
					repellendus nostrum minus doloribus rerum!
				</p>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit.
					Nulla, dicta minima voluptatibus natus id ab est molestiae
					libero enim eligendi? Dicta corporis modi suscipit? Unde
					provident quibusdam sit? Odit, enim!
				</p>
			</div>
		</div>
		<div class="row pt--100">
			<div class="col-lg-6">
				<h4>What we did</h4>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Reiciendis unde enim consequuntur! Eaque sunt aliquid
					placeat minima deleniti commodi tenetur aperiam mollitia
					quam! Accusamus dolor atque, amet aperiam dolorem harum
					quasi animi architecto reprehenderit voluptatum ut eaque
					porro sint cumque.
				</p>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					Ipsam labore eos nam, dolore esse porro omnis? Quod
					voluptate necessitatibus quam.
				</p>
			</div>
		</div>
	</div>

	<div class="container rn-section-gapTop2">
		<div class="purple-box"></div>
	</div>
	<!-- Portfolio details content start -->

	<!-- start portfolio details area -->
	<div class="product-details-area rn-section-gapTop2">
		<div class="container">
			<div class="row g-5">
				<!-- product image area -->

				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="product-tab-wrapper rbt-sticky-top-adjust">
						<div class="pd-tab-inner">
							<div
								class="nav rn-pd-nav rn-pd-rt-content nav-pills"
								id="v-pills-tab"
								role="tablist"
								aria-orientation="vertical"
							>
								<button
									class="nav-link active"
									id="v-pills-home-tab"
									data-bs-toggle="pill"
									data-bs-target="#v-pills-home"
									type="button"
									role="tab"
									aria-controls="v-pills-home"
									aria-selected="true"
								>
									<span class="rn-pd-sm-thumbnail">
										<img
											src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/images/portfolio-01.jpg"
											alt=""
										/>
									</span>
								</button>
								<button
									class="nav-link"
									id="v-pills-profile-tab"
									data-bs-toggle="pill"
									data-bs-target="#v-pills-profile"
									type="button"
									role="tab"
									aria-controls="v-pills-profile"
									aria-selected="false"
								>
									<span class="rn-pd-sm-thumbnail">
										<img
											src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/images/portfolio-02.jpg"
											alt=""
										/>
									</span>
								</button>
								<button
									class="nav-link"
									id="v-pills-messages-tab"
									data-bs-toggle="pill"
									data-bs-target="#v-pills-messages"
									type="button"
									role="tab"
									aria-controls="v-pills-messages"
									aria-selected="false"
								>
									<span class="rn-pd-sm-thumbnail">
										<img
											src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/images/portfolio-03.jpg"
											alt=""
										/>
									</span>
								</button>
							</div>

							<div
								class="tab-content rn-pd-content"
								id="v-pills-tabContent"
							>
								<div
									class="tab-pane fade show active"
									id="v-pills-home"
									role="tabpanel"
									aria-labelledby="v-pills-home-tab"
								>
									<div class="rn-pd-thumbnail">
										<img
											src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/images/portfolio-01.jpg"
											alt=""
										/>
									</div>
								</div>
								<div
									class="tab-pane fade"
									id="v-pills-profile"
									role="tabpanel"
									aria-labelledby="v-pills-profile-tab"
								>
									<div class="rn-pd-thumbnail">
										<img
											src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/images/portfolio-02.jpg"
											alt=""
										/>
									</div>
								</div>
								<div
									class="tab-pane fade"
									id="v-pills-messages"
									role="tabpanel"
									aria-labelledby="v-pills-messages-tab"
								>
									<div class="rn-pd-thumbnail">
										<img
											src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/images/portfolio-03.jpg"
											alt=""
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- product image area end -->

				<div class="col-lg-6 col-md-12 col-sm-12 mt_md--50 mt_sm--60">
					<div></div>
				</div>
			</div>
		</div>
	</div>
	<!-- End portfolio details area -->
</main>
{{ end }}
