{{ define "main" }}
<main>
	<!-- About banner area -->
	<div class="rn-about-banner-area rn-section-gapTop">
		<div class="container mb--30">
			<div class="row">
				<div class="col-12">
					<h2
						class="title about-title-l"
						data-sal="slide-up"
						data-sal-duration="800"
						data-sal-delay="250"
					>
						About
					</h2>
					<p
						class="description-d about-des-l"
						data-sal="slide-up"
						data-sal-duration="800"
						data-sal-delay="250"
					>
						The World is changing. We help you get ahead.
					</p>
				</div>
			</div>
		</div>
		<div class="container-fluid about-fluidimg">
			<div class="row">
				<div class="img-wrapper">
					<div class="bg_image--22 bg_image"></div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row g-5">
				<div class="col-lg-6">
					<div class="h--130">
						<div
							class="rn-about-card mt_dec--50 widge-wrapper rbt-sticky-top-adjust-six"
						>
							<div class="inner">
								<h3
									class="title"
									data-sal="slide-up"
									data-sal-duration="800"
									data-sal-delay="250"
								>
									Our Values
								</h3>
								<p
									class="about-disc"
									data-sal="slide-up"
									data-sal-duration="800"
									data-sal-delay="250"
								>
									NFTs are virtual tokens that represent
									ownership of something inherently distinct
									and scarce, whether it be a physical or
									digital item, such as artwork, a soundtrack,
									a collectible, an in-game item or real
									estate. Unlike regular cryptocurrencies like
									bitcoin or fiat money like the U.S.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="rn-about-card transparent-bg">
						<div class="inner">
							<h3
								class="title"
								data-sal="slide-up"
								data-sal-duration="800"
								data-sal-delay="250"
							>
								Love wat you do
							</h3>
							<p
								class="about-disc mb--0"
								data-sal="slide-up"
								data-sal-duration="800"
								data-sal-delay="250"
							>
								NFTs are virtual tokens that represent ownership
								of something inherently distinct and scarce,
								whether it be a physical or digital item, such
								as artwork, a soundtrack, a collectible, an
								in-game item or real estate. Unlike regular
								cryptocurrencies like bitcoin or fiat money like
								the U.S.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- About banner area End -->

	<div
		class="rn-about-Quote-area rn-section-gapTop rn-section-gapBottom pb--100"
	>
		<div class="container">
			<div class="row g-5 d-flex align-items-center">
				<div class="col-lg-6">
					<div class="rn-about-card transparent-bg-2">
						<div class="inner">
							<h3
								class="title"
								data-sal="slide-up"
								data-sal-duration="800"
								data-sal-delay="150"
							>
								Love wat you do
							</h3>
							<p
								class="about-disc mb--0"
								data-sal="slide-up"
								data-sal-duration="800"
								data-sal-delay="150"
							>
								NFTs are virtual tokens that represent ownership
								of something inherently distinct and scarce,
								whether it be a physical or digital item, such
								as artwork, a soundtrack, a collectible, an
								in-game item or real estate. Unlike regular
								cryptocurrencies like bitcoin or fiat money like
								the U.S.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="rn-about-card transparent-bg-2 last-box">
						<div class="inner">
							<h3
								class="title"
								data-sal="slide-up"
								data-sal-duration="800"
								data-sal-delay="150"
							>
								Love wat you do
							</h3>
							<p
								class="about-disc mb--0"
								data-sal="slide-up"
								data-sal-duration="800"
								data-sal-delay="150"
							>
								NFTs are virtual tokens that represent ownership
								of something inherently distinct and scarce,
								whether it be a physical or digital item, such
								as artwork, a soundtrack, a collectible, an
								in-game item or real estate. Unlike regular
								cryptocurrencies like bitcoin or fiat money like
								the U.S.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Start Testimonials Area  -->
	<div class="container">
		<div class="row">
			<div class="col-12 mb--50">
				<h3
					class="title text-start"
					data-sal-delay="150"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					What clients are saying
				</h3>
			</div>
		</div>
	</div>

	<section
		class="rn-testimonial-area swiper mySwiper2 swiper-about rn-section-gapBottom container"
		data-sal="slide-up"
		data-sal-duration="800"
		data-sal-delay="250"
	>
		<div class="swiper-wrapper swiper-about">
			<!-- start single blog -->
			<div class="swiper-slide swiper-about">
				<div class="rn-blog">
					<div class="inner">
						<div class="content">
							<h4 class="title">
								<p>
									Lorem ipsum dolor sit, amet consectetur
									adipisicing elit. Quae unde quidem
									laboriosam atque cumque a, molestiae eum
									nostrum ipsum quam!
								</p>
							</h4>
							<div class="category-info">
								<div class="category-list">
									<p>Trung Nguyen</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single blog -->
			<!-- start single blog -->
			<div class="swiper-slide swiper-about">
				<div class="rn-blog">
					<div class="inner">
						<div class="content">
							<h4 class="title">
								<p>
									Lorem ipsum dolor sit, amet consectetur
									adipisicing elit. Quae unde quidem
									laboriosam atque cumque a, molestiae eum
									nostrum ipsum quam!
								</p>
							</h4>
							<div class="category-info">
								<div class="category-list">
									<p>Trung Nguyen</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single blog -->
			<!-- start single blog -->
			<div class="swiper-slide swiper-about">
				<div class="rn-blog">
					<div class="inner">
						<div class="content">
							<h4 class="title">
								<p>
									Lorem ipsum dolor sit, amet consectetur
									adipisicing elit. Quae unde quidem
									laboriosam atque cumque a, molestiae eum
									nostrum ipsum quam!
								</p>
							</h4>
							<div class="category-info">
								<div class="category-list">
									<p>Trung Nguyen</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single blog -->
			<!-- start single blog -->
			<div class="swiper-slide swiper-about">
				<div class="rn-blog">
					<div class="inner">
						<div class="content">
							<h4 class="title">
								<p>
									Lorem ipsum dolor sit, amet consectetur
									adipisicing elit. Quae unde quidem
									laboriosam atque cumque a, molestiae eum
									nostrum ipsum quam!
								</p>
							</h4>
							<div class="category-info">
								<div class="category-list">
									<p>Trung Nguyen</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single blog -->
			<!-- start single blog -->
			<div class="swiper-slide swiper-about">
				<div class="rn-blog">
					<div class="inner">
						<div class="content">
							<h4 class="title">
								<p>
									Lorem ipsum dolor sit, amet consectetur
									adipisicing elit. Quae unde quidem
									laboriosam atque cumque a, molestiae eum
									nostrum ipsum quam!
								</p>
							</h4>
							<div class="category-info">
								<div class="category-list">
									<p>Trung Nguyen</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single blog -->
			<!-- start single blog -->
			<div class="swiper-slide swiper-about">
				<div class="rn-blog">
					<div class="inner">
						<div class="content">
							<h4 class="title">
								<p>
									Lorem ipsum dolor sit, amet consectetur
									adipisicing elit. Quae unde quidem
									laboriosam atque cumque a, molestiae eum
									nostrum ipsum quam!
								</p>
							</h4>
							<div class="category-info">
								<div class="category-list">
									<p>Trung Nguyen</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single blog -->
			<!-- start single blog -->
			<div class="swiper-slide swiper-about">
				<div class="rn-blog">
					<div class="inner">
						<div class="content">
							<h4 class="title">
								<p>
									Lorem ipsum dolor sit, amet consectetur
									adipisicing elit. Quae unde quidem
									laboriosam atque cumque a, molestiae eum
									nostrum ipsum quam!
								</p>
							</h4>
							<div class="category-info">
								<div class="category-list">
									<p>Trung Nguyen</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single blog -->
			<!-- start single blog -->
			<div class="swiper-slide swiper-about">
				<div class="rn-blog">
					<div class="inner">
						<div class="content">
							<h4 class="title">
								<p>
									Lorem ipsum dolor sit, amet consectetur
									adipisicing elit. Quae unde quidem
									laboriosam atque cumque a, molestiae eum
									nostrum ipsum quam!
								</p>
							</h4>
							<div class="category-info">
								<div class="category-list">
									<p>Trung Nguyen</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single blog -->
			<!-- start single blog -->
			<div class="swiper-slide swiper-about">
				<div class="rn-blog">
					<div class="inner">
						<div class="content">
							<h4 class="title">
								<p>
									Lorem ipsum dolor sit, amet consectetur
									adipisicing elit. Quae unde quidem
									laboriosam atque cumque a, molestiae eum
									nostrum ipsum quam!
								</p>
							</h4>
							<div class="category-info">
								<div class="category-list">
									<p>Trung Nguyen</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single blog -->
			<!-- start single blog -->
			<div class="swiper-slide swiper-about">
				<div class="rn-blog">
					<div class="inner">
						<div class="content">
							<h4 class="title">
								<p>
									Lorem ipsum dolor sit, amet consectetur
									adipisicing elit. Quae unde quidem
									laboriosam atque cumque a, molestiae eum
									nostrum ipsum quam!
								</p>
							</h4>
							<div class="category-info">
								<div class="category-list">
									<p>Trung Nguyen</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single blog -->
		</div>
		<div class="swiper-button-prev swiper-about"></div>
		<div class="swiper-button-next swiper-about"></div>
	</section>
	<!-- End BLog Area  -->

	<!-- collection area Start -->
	<div class="rn-collection-area rn-section-gapTop pt--100">
		<div class="container">
			<div class="row">
				<div class="col-12 mb--50">
					<h3
						class="title text-start"
						data-sal-delay="150"
						data-sal="slide-up"
						data-sal-duration="800"
					>
						Vision Creators
					</h3>
				</div>
			</div>
			<div class="row g-5">
				<!-- start single collention -->
				<div
					data-sal="slide-up"
					data-sal-delay="250"
					data-sal-duration="800"
					class="col-lg-4 col-md-6 col-sm-6 col-12"
				>
					<div class="rn-collection-inner-one">
						<div class="collection-wrapper">
							<div class="collection-big-thumbnail">
								<img
									src="assets/images/collection/collection-lg-03.jpg"
									alt="Nft_Profile"
								/>
							</div>
							<div class="collection-deg">
								<h5 class="title">Trung Nguyen</h5>
								<p>Creative Director</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End single collention -->
				<!-- start single collention -->
				<div
					data-sal="slide-up"
					data-sal-delay="250"
					data-sal-duration="800"
					class="col-lg-4 col-md-6 col-sm-6 col-12"
				>
					<div class="rn-collection-inner-one">
						<div class="collection-wrapper">
							<div class="collection-big-thumbnail">
								<img
									src="assets/images/collection/collection-lg-03.jpg"
									alt="Nft_Profile"
								/>
							</div>
							<div class="collection-deg">
								<h5 class="title">Freddy Rodriguez</h5>
								<p>IT Director</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End single collention -->
				<!-- start single collention -->
				<div
					data-sal="slide-up"
					data-sal-delay="250"
					data-sal-duration="800"
					class="col-lg-4 col-md-6 col-sm-6 col-12"
				>
					<div class="rn-collection-inner-one">
						<div class="collection-wrapper">
							<div class="collection-big-thumbnail">
								<img
									src="assets/images/collection/collection-lg-03.jpg"
									alt="Nft_Profile"
								/>
							</div>
							<div class="collection-deg">
								<h5 class="title">Kevin Phan</h5>
								<p>Developer</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End single collention -->
				<!-- start single collention -->
				<div
					data-sal="slide-up"
					data-sal-delay="250"
					data-sal-duration="800"
					class="col-lg-4 col-md-6 col-sm-6 col-12"
				>
					<div class="rn-collection-inner-one">
						<div class="collection-wrapper">
							<div class="collection-big-thumbnail">
								<img
									src="assets/images/collection/collection-lg-03.jpg"
									alt="Nft_Profile"
								/>
							</div>
							<div class="collection-deg">
								<h5 class="title">Angelica Rodriguez</h5>
								<p>Project Manager</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End single collention -->
				<!-- start single collention -->
				<div
					data-sal="slide-up"
					data-sal-delay="250"
					data-sal-duration="800"
					class="col-lg-4 col-md-6 col-sm-6 col-12"
				>
					<div class="rn-collection-inner-one">
						<div class="collection-wrapper">
							<div class="collection-big-thumbnail">
								<img
									src="assets/images/collection/collection-lg-03.jpg"
									alt="Nft_Profile"
								/>
							</div>
							<div class="collection-deg">
								<h5 class="title">Carina Buenavista</h5>
								<p>Designer</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End single collention -->
				<!-- start single collention -->
				<div
					data-sal="slide-up"
					data-sal-delay="250"
					data-sal-duration="800"
					class="col-lg-4 col-md-6 col-sm-6 col-12"
				>
					<div class="rn-collection-inner-one">
						<div class="collection-wrapper">
							<div class="collection-big-thumbnail">
								<img
									src="assets/images/collection/collection-lg-03.jpg"
									alt="Nft_Profile"
								/>
							</div>
							<div class="collection-deg">
								<h5 class="title">Goretti Pham</h5>
								<p>Desginer</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End single collention -->
			</div>
		</div>
	</div>
	<!-- collection area End -->

	<!-- Our Location area Start -->
	<div class="rn-location-area rn-section-gapTop pt--100">
		<div class="container">
			<div class="row">
				<div class="col-12 mb--50">
					<h3
						class="title text-center text-lg-start"
						data-sal-delay="150"
						data-sal="slide-up"
						data-sal-duration="800"
					>
						Our Location
					</h3>
				</div>
			</div>
			<div class="row g-5 justify-content-center">
				<!-- start single collention -->
				<div
					data-sal="slide-up"
					data-sal-delay="250"
					data-sal-duration="800"
					class="col-lg-6 col-md-6 col-sm-6 col-12"
				>
					<div class="rn-collection-inner-one">
						<div class="collection-wrapper">
							<div class="collection-big-thumbnail">
								<img
									src="assets/images/collection/collection-lg-03.jpg"
									alt="Nft_Profile"
								/>
							</div>
							<div class="collection-deg">
								<h4>Houston, Texas</h4>
								<p>
									Lorem, ipsum dolor sit amet consectetur
									adipisicing elit. Perspiciatis soluta
									beatae, doloremque ut distinctio quod
									temporibus repudiandae facilis corrupti
									officia dolorum quis error sed ipsam
									necessitatibus, illum, exercitationem magni
									enim?
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End single collention -->
				<!-- start single collention -->
				<div
					data-sal="slide-up"
					data-sal-delay="250"
					data-sal-duration="800"
					class="col-lg-6 col-md-6 col-sm-6 col-12"
				>
					<div class="rn-collection-inner-one">
						<div class="collection-wrapper">
							<div class="collection-big-thumbnail">
								<img
									src="assets/images/collection/collection-lg-03.jpg"
									alt="Nft_Profile"
								/>
							</div>
							<div class="collection-deg">
								<h4>Austin, Texas</h4>
								<p>
									Lorem ipsum dolor sit amet consectetur,
									adipisicing elit. Voluptas facilis, hic quam
									sit odio voluptate voluptatum et modi totam,
									eos vitae deleniti officiis amet asperiores
									doloremque aspernatur incidunt excepturi
									iusto.
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End single collention -->
			</div>
		</div>
	</div>
	<!-- Our Location area End -->
</main>
{{ end }}
