{{ define "main" }}
<main>
	<!-- start banner area -->
	<div class="slider-area mb--50">
		<div class="video-wrapper" data-sal="fade" data-sal-duration="800">
			<div class="video-overlay-2"></div>
			<video
				id="background-video"
				src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/MainHero.mp4"
				autoplay
				loop
				muted
			></video>
		</div>

		<div class="container-fluid h-100">
			<div class="d-flex flex-column h-100 hero-inner">
				<div class="order-1 home-11-slide-padding">
					<h1
						class="title"
						data-sal-delay="400"
						data-sal="slide-right"
						data-sal-duration="800"
					>
						Moving Brands in a crowded market
					</h1>
					<div
						class="button-group button-group-home"
						data-sal-delay="400"
						data-sal="slide-right"
						data-sal-duration="800"
					>
						<a class="btn btn-large btn-primary" href="#"
							>Get Started</a
						>
						<a
							class="btn btn-large btn-secondary"
							href="create.html"
							>Create</a
						>
					</div>
				</div>
				<div class="d-flex hero-right order-2">
					<div
						class="banner-right-feature-product hero-section"
						data-sal-delay=""
						data-sal="slide-up"
						data-sal-duration="800"
					>
						<!-- start single product -->
						<div
							class="single-slide-product"
							data-sal-delay="600"
							data-sal="slide-up"
							data-sal-duration="800"
						>
							<div class="product-style-one">
								<a href="#"
									><h3
										class="product-name large-product-title"
									>
										Branding
									</h3></a
								>
							</div>
						</div>
						<div
							class="single-slide-product"
							data-sal-delay="800"
							data-sal="slide-up"
							data-sal-duration="800"
						>
							<div class="product-style-one">
								<a href="#"
									><h3
										class="product-name large-product-title"
									>
										Design
									</h3></a
								>
							</div>
						</div>
						<div
							class="single-slide-product"
							data-sal-delay="1000"
							data-sal="slide-up"
							data-sal-duration="800"
						>
							<div class="product-style-one">
								<a href="#"
									><h3
										class="product-name large-product-title"
									>
										Development
									</h3></a
								>
							</div>
						</div>

						<!-- end single product -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End banner area -->

	<!-- start nuron vedio area -->
	<div class="vedio-area rn-section-gapTop2">
		<div class="container d-flex flex-column flex-xl-row">
			<div class="mb--20">
				<div
					class="title-area d-flex flex-column h-100 justify-content-center text-start"
					data-sal-delay="200"
					data-sal="slide-right"
					data-sal-duration="800"
				>
					<h3 class="title mb--20 subtitle-2">Discover Desque</h3>
					<p class="subtitle-2">
						An NFT is a digital asset that represents real-world
						objects like art, music, in-game items and videos. They
						are bought and sold online.
					</p>
				</div>
			</div>
			<div class="">
				<div
					class="col-12 position-relative"
					data-sal-delay="200"
					data-sal="slide-left"
					data-sal-duration="800"
				>
					<a
						id="play-video"
						class="video-play-button btn-large with-animation"
						href="#"
					>
						<span></span>
					</a>
					<!-- start vedio image wrapper -->
					<div class="vedio-wrapper">
						<img
							src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/images/bg-image-21.jpg"
							alt=""
						/>
					</div>
					<!-- end vedio image wrapper -->
					<div id="video-overlay" class="video-overlay">
						<a class="video-overlay-close">×</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end nuron vedio area -->

	{{ with .Params.carousel }}
	<!-- Slider main container -->
	<section
		class="swiper swiper-home mySwiper1"
		data-sal-delay="200"
		data-sal="fade"
		data-sal-duration="800"
	>
		<div class="swiper-wrapper swiper-home">
			{{ range . }}
			<div class="swiper-slide swiper-home">
				<div class="swiper-slide-img {{ .slide_num }}"></div>
				<img class="swiper--logo" src="{{ .image }}" alt="" />
				<div class="brand-details text-center mb--20 w-100">
					<p>{{ .brand_detail_1 }}</p>
					<p class="mt-2">{{ .brand_detail_2 }}</p>
				</div>
			</div>
			{{ end }}
		</div>
		<div class="swiper-pagination swiper-home"></div>
		<div class="swiper-button-prev swiper-home"></div>
		<div class="swiper-button-next swiper-home"></div>
	</section>
	{{ end }} {{ with .Params.service }}
	<!-- start service area -->
	<div class="rn-service-area rn-section-gapTop rn-section-gapBottom2">
		<div class="container">
			<div class="row g-5 justify-content-center">
				{{ range . }}
				<!-- start single service -->
				<div class="col-lg-4 col-md-6 col-sm-6 col-12">
					<div
						data-sal="slide-up"
						data-sal-delay="200"
						data-sal-duration="800"
						class="rn-service-one color-shape-1"
					>
						<div class="inner">
							<div class="icon">
								<img src="{{ .image }}" alt="Shape" />
							</div>
							<div class="content text-center">
								<h4 class="title">
									<a href="#">{{ .title }}</a>
								</h4>
								<p class="description">{{ .content }}</p>
								<a class="read-more-button" href="#"
									><i class="feather-arrow-right"></i
								></a>
							</div>
						</div>
						<a class="over-link" href="#"></a>
					</div>
				</div>
				<!-- End single service -->
				{{ end }}
			</div>
		</div>
	</div>
	<!-- End service area -->
	{{ end }} {{ with .Params.logo }}
	<!-- start category area -->
	<div class="category-area pt--70 mb--150 mb_sm--0 mb_md--100">
		<div class="container">
			<div class="row">
				<div class="col-12 mb--50">
					<h3
						class="title text-start"
						data-sal-delay="150"
						data-sal="slide-up"
						data-sal-duration="800"
					>
						Featured Clients
					</h3>
				</div>
			</div>
			<div class="row g-5 justify-content-center align-items-center">
				{{ range . }}
				<!-- start single category -->
				<div
					class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6"
					data-sal-delay="200"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					<div class="clients-logo">
						<img src="{{ .image }}" alt="logo image" />
					</div>
				</div>
				<!-- end single category -->
				{{ end }}
			</div>
		</div>
	</div>
	<!-- end category area -->
	{{ end }}
</main>
{{ end }}
