{{ define "main" }}
<main>
	<!-- start banner area -->
	<div class="slider-area mb--50">
		<div class="video-wrapper" data-sal="fade" data-sal-duration="800">
			<div class="video-overlay-2"></div>
			<video
				id="background-video"
				src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/MainHero.mp4"
				autoplay
				loop
				muted
			></video>
		</div>

		<div class="container-fluid h-100">
			<div class="d-flex flex-column h-100 hero-inner">
				<div class="order-1 home-11-slide-padding">
					<h1
						class="title"
						data-sal-delay="400"
						data-sal="slide-right"
						data-sal-duration="800"
					>
						Moving Brands in a crowded market
					</h1>
					<div
						class="button-group button-group-home"
						data-sal-delay="400"
						data-sal="slide-right"
						data-sal-duration="800"
					>
						<a class="btn btn-large btn-primary" href="#"
							>Get Started</a
						>
						<a
							class="btn btn-large btn-secondary"
							href="create.html"
							>Create</a
						>
					</div>
				</div>
				<div class="d-flex hero-right order-2">
					<div
						class="banner-right-feature-product hero-section"
						data-sal-delay=""
						data-sal="slide-up"
						data-sal-duration="800"
					>
						<!-- start single product -->
						<div
							class="single-slide-product"
							data-sal-delay="600"
							data-sal="slide-up"
							data-sal-duration="800"
						>
							<div class="product-style-one">
								<a href="product-details.html"
									><h3
										class="product-name large-product-title"
									>
										Branding
									</h3></a
								>
							</div>
						</div>
						<div
							class="single-slide-product"
							data-sal-delay="800"
							data-sal="slide-up"
							data-sal-duration="800"
						>
							<div class="product-style-one">
								<a href="product-details.html"
									><h3
										class="product-name large-product-title"
									>
										Design
									</h3></a
								>
							</div>
						</div>
						<div
							class="single-slide-product"
							data-sal-delay="1000"
							data-sal="slide-up"
							data-sal-duration="800"
						>
							<div class="product-style-one">
								<a href="product-details.html"
									><h3
										class="product-name large-product-title"
									>
										Development
									</h3></a
								>
							</div>
						</div>

						<!-- end single product -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End banner area -->

	<!-- start nuron vedio area -->
	<div class="vedio-area rn-section-gapTop2">
		<div class="container d-flex flex-column flex-xl-row">
			<div class="mb--20">
				<div
					class="title-area d-flex flex-column h-100 justify-content-center text-start"
					data-sal-delay="200"
					data-sal="slide-right"
					data-sal-duration="800"
				>
					<h3 class="title mb--20 subtitle-2">Discover Desque</h3>
					<p class="subtitle-2">
						An NFT is a digital asset that represents real-world
						objects like art, music, in-game items and videos. They
						are bought and sold online.
					</p>
				</div>
			</div>
			<div class="">
				<div
					class="col-12 position-relative"
					data-sal-delay="200"
					data-sal="slide-left"
					data-sal-duration="800"
				>
					<a
						id="play-video"
						class="video-play-button btn-large with-animation"
						href="#"
					>
						<span></span>
					</a>
					<!-- start vedio image wrapper -->
					<div class="vedio-wrapper">
						<img
							src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/images/bg-image-21.jpg"
							alt=""
						/>
					</div>
					<!-- end vedio image wrapper -->
					<div id="video-overlay" class="video-overlay">
						<a class="video-overlay-close">×</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end nuron vedio area -->

	<!-- Slider main container -->
	<section
		class="swiper swiper-home mySwiper1"
		data-sal-delay="200"
		data-sal="fade"
		data-sal-duration="800"
	>
		<div class="swiper-wrapper swiper-home">
			<div class="swiper-slide swiper-home">
				<div class="swiper-slide-img swiper-slide-img-1"></div>
				<img
					class="swiper--logo"
					src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/Sapa.png"
					alt=""
				/>
				<div class="brand-details text-center mb--20 w-100">
					<p>
						Brand Creation - Brand Identity - Environmental Design
					</p>
					<p class="mt-2">Web Design - Marketing & Sales Assets</p>
				</div>
			</div>
			<div class="swiper-slide swiper-home">
				<div class="swiper-slide-img swiper-slide-img-2"></div>
				<img
					class="swiper--logo"
					src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/EpicModelingAgency.png"
					alt=""
				/>
				<div class="brand-details text-center mb--20 w-100">
					<p>
						Brand Creation - Brand Identity - Environmental Design
					</p>
					<p class="mt-2">Web Design - Marketing & Sales Assets</p>
				</div>
			</div>
			<div class="swiper-slide swiper-home">
				<div class="swiper-slide-img swiper-slide-img-3"></div>
				<img
					class="swiper--logo"
					src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/ExoticoRentals.png"
					alt=""
				/>
				<div class="brand-details text-center mb--20 w-100">
					<p>
						Brand Creation - Brand Identity - Environmental Design
					</p>
					<p class="mt-2">Web Design - Marketing & Sales Assets</p>
				</div>
			</div>
			<div class="swiper-slide swiper-home">
				<div class="swiper-slide-img swiper-slide-img-4"></div>
				<img
					class="swiper--logo"
					src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/InstinctAthletics.png"
					alt=""
				/>
				<div class="brand-details text-center mb--20 w-100">
					<p>
						Brand Creation - Brand Identity - Environmental Design
					</p>
					<p class="mt-2">Web Design - Marketing & Sales Assets</p>
				</div>
			</div>
			<div class="swiper-slide swiper-home">
				<div class="swiper-slide-img swiper-slide-img-5"></div>
				<img
					class="swiper--logo"
					src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/Naran.png"
					alt=""
				/>
				<div class="brand-details text-center mb--20 w-100">
					<p>
						Brand Creation - Brand Identity - Environmental Design
					</p>
					<p class="mt-2">Web Design - Marketing & Sales Assets</p>
				</div>
			</div>
			<div class="swiper-slide swiper-home">
				<div class="swiper-slide-img swiper-slide-img-6"></div>
				<img
					class="swiper--logo"
					src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/Nuletica.png"
					alt=""
				/>
				<div class="brand-details text-center mb--20 w-100">
					<p>
						Brand Creation - Brand Identity - Environmental Design
					</p>
					<p class="mt-2">Web Design - Marketing & Sales Assets</p>
				</div>
			</div>
			<div class="swiper-slide swiper-home">
				<div class="swiper-slide-img swiper-slide-img-7"></div>
				<img
					class="swiper--logo"
					src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/Pokeology.png"
					alt=""
				/>
				<div class="brand-details text-center mb--20 w-100">
					<p>
						Brand Creation - Brand Identity - Environmental Design
					</p>
					<p class="mt-2">Web Design - Marketing & Sales Assets</p>
				</div>
			</div>
			<div class="swiper-slide swiper-home">
				<div class="swiper-slide-img swiper-slide-img-8"></div>
				<img
					class="swiper--logo"
					src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/EnergyCinq.png"
					alt=""
				/>
				<div class="brand-details text-center mb--20 w-100">
					<p>
						Brand Creation - Brand Identity - Environmental Design
					</p>
					<p class="mt-2">Web Design - Marketing & Sales Assets</p>
				</div>
			</div>
			<div class="swiper-slide swiper-home">
				<div class="swiper-slide-img swiper-slide-img-9"></div>
				<img
					class="swiper--logo"
					src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/Sunrgy.png"
					alt=""
				/>
				<div class="brand-details text-center mb--20 w-100">
					<p>
						Brand Creation - Brand Identity - Environmental Design
					</p>
					<p class="mt-2">Web Design - Marketing & Sales Assets</p>
				</div>
			</div>
			<div class="swiper-slide swiper-home">
				<div class="swiper-slide-img swiper-slide-img-10"></div>
				<img
					class="swiper--logo"
					src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/UptownBakes.png"
					alt=""
				/>
				<div class="brand-details text-center mb--20 w-100">
					<p>
						Brand Creation - Brand Identity - Environmental Design
					</p>
					<p class="mt-2">Web Design - Marketing & Sales Assets</p>
				</div>
			</div>
		</div>
		<div class="swiper-pagination swiper-home"></div>
		<div class="swiper-button-prev swiper-home"></div>
		<div class="swiper-button-next swiper-home"></div>
	</section>

	<!-- start service area -->
	<div class="rn-service-area rn-section-gapTop rn-section-gapBottom2">
		<div class="container">
			<div class="row g-5 justify-content-center">
				<!-- start single service -->
				<div class="col-lg-4 col-md-6 col-sm-6 col-12">
					<div
						data-sal="slide-up"
						data-sal-delay="200"
						data-sal-duration="800"
						class="rn-service-one color-shape-1"
					>
						<div class="inner">
							<div class="icon">
								<img
									src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/images/shape-1.png"
									alt="Shape"
								/>
							</div>
							<!-- <div class="subtitle">Step-02</div> -->
							<div class="content text-center">
								<h4 class="title">
									<a href="#">What We Do</a>
								</h4>
								<p class="description">
									A great collection of beautiful website
									templates for your need. Choose the best
									suitable template.
								</p>
								<a class="read-more-button" href="#"
									><i class="feather-arrow-right"></i
								></a>
							</div>
						</div>
						<a class="over-link" href="#"></a>
					</div>
				</div>
				<!-- End single service -->
				<!-- start single service -->
				<div class="col-lg-4 col-md-6 col-sm-6 col-12">
					<div
						data-sal="slide-up"
						data-sal-delay="250"
						data-sal-duration="800"
						class="rn-service-one color-shape-5"
					>
						<div class="inner">
							<div class="icon">
								<img
									src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/images/shape-5.png"
									alt="Shape"
								/>
							</div>
							<div class="content text-center">
								<h4 class="title">
									<a href="#">What We've Done</a>
								</h4>
								<p class="description">
									We've made the template fully responsive, so
									it looks great on all devices: desktop,
									tablets and.
								</p>
								<a class="read-more-button" href="#"
									><i class="feather-arrow-right"></i
								></a>
							</div>
						</div>
						<a class="over-link" href="#"></a>
					</div>
				</div>
				<!-- End single service -->
				<!-- start single service -->
				<div class="col-lg-4 col-md-6 col-sm-6 col-12">
					<div
						data-sal="slide-up"
						data-sal-delay="300"
						data-sal-duration="800"
						class="rn-service-one color-shape-6"
					>
						<div class="inner">
							<div class="icon">
								<img
									src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/images/shape-6.png"
									alt="Shape"
								/>
							</div>
							<div class="content text-center">
								<h4 class="title">
									<a href="#">Start A Project</a>
								</h4>
								<p class="description">
									I throw myself down among the tall grass by
									the stream as I lie close to the earth
									NFT's.
								</p>
								<a class="read-more-button" href="#"
									><i class="feather-arrow-right"></i
								></a>
							</div>
						</div>
						<a class="over-link" href="#"></a>
					</div>
				</div>
				<!-- End single service -->
			</div>
		</div>
	</div>
	<!-- End service area -->

	<!-- start category area -->
	<div class="category-area pt--70 mb--150 mb_sm--0 mb_md--100">
		<div class="container">
			<div class="row">
				<div class="col-12 mb--50">
					<h3
						class="title text-start"
						data-sal-delay="150"
						data-sal="slide-up"
						data-sal-duration="800"
					>
						Featured Clients
					</h3>
				</div>
			</div>
			<div class="row g-5 justify-content-center align-items-center">
				<!-- start single category -->
				<div
					class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6"
					data-sal-delay="200"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					<div class="clients-logo">
						<img
							src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/EnergyCinq.png"
							alt=""
						/>
					</div>
				</div>
				<!-- end single category -->
				<!-- start single category -->
				<div
					class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6"
					data-sal-delay="200"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					<div class="clients-logo">
						<img
							src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/EnergyCinq.png"
							alt=""
						/>
					</div>
				</div>
				<!-- end single category -->
				<!-- start single category -->
				<div
					class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6"
					data-sal-delay="200"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					<div class="clients-logo">
						<img
							src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/EnergyCinq.png"
							alt=""
						/>
					</div>
				</div>
				<!-- end single category -->
				<!-- start single category -->
				<div
					class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6"
					data-sal-delay="200"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					<div class="clients-logo">
						<img
							src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/EnergyCinq.png"
							alt=""
						/>
					</div>
				</div>
				<!-- end single category -->
				<!-- start single category -->
				<div
					class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6"
					data-sal-delay="200"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					<div class="clients-logo">
						<img
							src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/EnergyCinq.png"
							alt=""
						/>
					</div>
				</div>
				<!-- end single category -->
				<!-- start single category -->
				<div
					class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6"
					data-sal-delay="200"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					<div class="clients-logo">
						<img
							src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/EnergyCinq.png"
							alt=""
						/>
					</div>
				</div>
				<!-- end single category -->
				<!-- start single category -->
				<div
					class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6"
					data-sal-delay="200"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					<div class="clients-logo">
						<img
							src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/EnergyCinq.png"
							alt=""
						/>
					</div>
				</div>
				<!-- end single category -->
				<!-- start single category -->
				<div
					class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6"
					data-sal-delay="200"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					<div class="clients-logo">
						<img
							src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/EnergyCinq.png"
							alt=""
						/>
					</div>
				</div>
				<!-- end single category -->
				<!-- start single category -->
				<div
					class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6"
					data-sal-delay="200"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					<div class="clients-logo">
						<img
							src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/EnergyCinq.png"
							alt=""
						/>
					</div>
				</div>
				<!-- end single category -->
				<!-- start single category -->
				<div
					class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6"
					data-sal-delay="200"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					<div class="clients-logo">
						<img
							src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/EnergyCinq.png"
							alt=""
						/>
					</div>
				</div>
				<!-- end single category -->
				<!-- start single category -->
				<div
					class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6"
					data-sal-delay="200"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					<div class="clients-logo">
						<img
							src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/EnergyCinq.png"
							alt=""
						/>
					</div>
				</div>
				<!-- end single category -->
				<!-- start single category -->
				<div
					class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6"
					data-sal-delay="200"
					data-sal="slide-up"
					data-sal-duration="800"
				>
					<div class="clients-logo">
						<img
							src="https://desque.sfo3.cdn.digitaloceanspaces.com/desque/assets/Logo/EnergyCinq.png"
							alt=""
						/>
					</div>
				</div>
				<!-- end single category -->
			</div>
		</div>
	</div>
	<!-- end category area -->
</main>
{{ end }}
